html {
    background-color: hsl(216, 65%, 11%);
    font-family: 'Roboto Mono', monospace;
    color: #a8b2d1;
  }
  nav {
    top: 0;
    text-align: right;
    z-index: 1000;
    font-size: 50px;
    margin-right: 50px;
    z-index: 1000;
    position: sticky;
    color: #a8b2d1;
  }

  welcome-section h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-style: italic; /* Remove this for non-italic bold */
  }

  
  
  nav a {
      text-decoration: none;
  }

  nav a:hover {
    color: #64ffda;
}
  #welcome-section {
    max-width: 800px;
    top: 100;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 80px;

  }
  #welcome-section h1 {
    text-align: left;
    font-size: 100px;
    color: #64ffda;
    
    
  }

  
  

  
  #about-me   {
    max-width: 600px;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    margin-bottom: 200px;
  
  }

  .about-description {
    margin-left: 200px;
    margin-bottom: 200px;
    max-width: 850px;
  }

  .tech-stack {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
  }
  
  .tech-stack li::before {
    content: "→"; /* Unicode arrow symbol */
    padding-right: 10px; /* Space between arrow and text */
    color: #64ffda; /* Color of the arrow */
  }
  


  .work-section {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;

    
}

.work-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
    
}

.work-item a {
  text-decoration: none;
}

.work-item a:hover {
  color: #64ffda;
}
.work-item:last-child {
    border-bottom: none;
}

.logo img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
}

.details {
    flex: 1;
    margin-left: 10px;
}

.company {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    
}

.role {
    font-size: 1rem;
    color: #777;
}

.year {
    font-size: 0.9rem;
    color: #999;
    white-space: nowrap;
}

  
  #projects  {
    padding-top: 100px;
    max-width: 600px;
    margin: 0 auto;
  }

  #projects  h1  {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  #projects img {
    width: 50%;
    height: auto;
  }
  
  #contact {
    padding-top: 100px;
    max-width: 600px;
    margin: 0 auto;
  }

  #contact h1{
    margin-bottom: 20px;
    font-size: 1.5rem;
    
    
  }

  #contact a {
    font-size: 100px;
    position: left;
    padding: 70px;
  }

  a:visited {
    color: inherit; /* Makes the visited link have the same color as the unvisited link */
  }
  
  /* Media Query for smaller screens */
      @media (max-width: 600px) {
        #navbar {
          flex-direction: column;
          align-items: center;
        }
  
        #navbar a {
          padding: 15px;
        }
      }
  
