html {
    background-color: hsl(216, 65%, 11%);
    font-family: 'Roboto Mono', monospace;
    color: #a8b2d1;
  }
/* Sidebar styling */
#sidebar {
    width: 250px; /* Adjust width as needed */
    background-color: hsl(216, 65%, 11%);
    color: #a8b2d1;
    position: fixed;
    left: 150px;
    top: 100px;
    bottom: 0;
    padding-top: 20px;
    overflow-y: auto; /* Enables scrolling if content exceeds viewport */
  }
  
  #sidebar a {
    display: block;
    color: #a8b2d1;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  #sidebar a:hover {
    color: #64ffda;
  }